# Flutter/Dart build outputs
build/
.dart_tool/
.flutter-plugins
.packages

# Android APK & AAB outputs
*.apk
*.aab
**/outputs/**/*.apk
**/outputs/**/*.aab

# iOS build artifacts
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/Pods

# VS Code and IntelliJ config
.vscode/
.idea/

# macOS or Windows files
.DS_Store
Thumbs.db
